.container-hints {
  margin-bottom: auto;
}

.text-hits {
  display: block;
  height: 30px;
  color: rgb(55, 152, 237);
  padding-bottom: 10px;
}

.none {
  display: none;
}


.hints-sentences-btn {
  padding: 10px;
  width: 50px;
  font-size: 12px;
}