.container-hints {}

.text-hits {
  display: block;
  height: 30px;
  color: rgb(55, 152, 237);
  padding-bottom: 10px;
}

.none {
  display: none;
}

.active {
  background-color: burlywood;
}

.hints-sentences-btn,
.hints-audio-btn,
.hints-img-btn {
  padding: 10px;
  width: 50px;
  font-size: 11px;
  margin-left: 5px;
}