.header {
  display: flex;
  padding-bottom: 10px;
  font-family: "Space";

  p {
    font-size: 1.3rem;
  }

  h2 {
    color: orange;
  }
}

.log-out_btn {
  font-size: small;
  width: 60px;
  padding-right: 45px;
  margin-left: auto;
}