.header {
  display: flex;
  padding-bottom: 10px;
  font-family: "Space";

  p {
    font-size: 1.3rem;
  }

  h2 {
    color: orange;
  }
}

.messages {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 80px;
  color: aqua;
  width: clamp(20.625rem, -2.5rem + 74vw, 43.75rem);
  height: 300px;
  background: rgba(0, 0, 0, 0.8);
  transition: ease-in-out 0.4;
}

.log-out_btn {
  font-size: small;
  width: 60px;
  padding-right: 45px;
  margin-left: auto;
}